<p class="text-center mt-5 p-3 lead">
Uygulama bir hata ile karşılaştı. Teknik ekibimiz bilgilendirildi. Sorun en kısa zamanda çözülecek.

    <br />
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Geri Dön</a>
</p>